{% extends 'base.html' %}

{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
<h1>About Us</h1>
<img src="{% static '/img/User Profile.jpg' %}" alt="Basketball Fan Profile" style="max-width: 100%; height: auto; margin-bottom: 20px;">

<p>I'm a proud Army Veteran, NBA fanatic, and former intelligence analyst with a love for tech and basketball culture. My mission here is to connect with fans like you, providing the best resources, updates, and products to keep you on top of your game.</p>

<p>Let’s grow this basketball community together and make sure you’re always one step ahead with the latest and greatest in basketball culture. Thanks for being part of the journey—now let’s ball!</p>
{% endblock content %}
